.container {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: scroll;
  height: 72px;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
}
.thumb {
  width: 100px;
  height: 60px;
  cursor: pointer;
  user-select: none;
}
.active {
  transition-duration: 0.5s;
  transform: scale(1.2);
}
